.page.six {
    background-image: url("https://fons.pibig.info/uploads/posts/2023-06/1686288458_fons-pibig-info-p-krasochnie-oboi-na-rabochii-stol-instagram-14.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  
    text-align: center;

    gap: 50px;
  }