* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  overflow: scroll;
  height: 100vh;
  scroll-snap-type: y mandatory;
}

section {
  height: 100vh;
  scroll-snap-align: end;
}

.page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.primaryButton {
  background: rgb(243, 194, 0);
  box-shadow: 0 8px 0 rgb(214, 168, 0);
  color: white;
  border: none;
  padding: 10px 60px;
  border-radius: 20px;
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  cursor: pointer;
  margin: 30px auto;
}

.mainTitle {
  font-size: 60px;
  font-weight: 600;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin-bottom: 60px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  justify-content: center;
  gap: 50px;
}

h1 {
  font-size: 80px;
  text-shadow: 0px 1px 10px rgba(0, 0, 0, 0.8);
}

.description {
    font-size: 50px;
    text-shadow: 0px 1px 10px rgba(0, 0, 0);
    width: 60%;
}

@media (max-width: 768px) {
  .primaryButton {
    padding: 8px 30px;
    font-size: 24px;
    margin: 20px auto;
  }

  .mainTitle {
    font-size: 40px;
    margin-bottom: 40px;
  }

  .cards {
    gap: 30px;
  }

  h1 {
    font-size: 40px;
  }

  .description {
    font-size: 30px;
    width: 80%; 
  }
}