.page.four {
  background-image: url("https://storge.pic2.me/c/1360x800/665/54a99550bb815.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  text-align: center;
  gap: 50px;
}

.cardContainer4 {
  text-align: center;
  background-color: rgba(255, 161, 61, 0.447);
  backdrop-filter: blur(10px);
  width: 25%;
  padding: 50px;
  border-radius: 20px;
  font-weight: 300;
  font-size: 25px;
  text-shadow: rgb(70, 70, 70) 0px 0 15px;
}
